.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

label {
  position: absolute;
  left: 1rem;
  top: 30%;
  transform: translateY(10%);
  transition: top 0.2s ease-out, font-size 0.2s ease-out;
  pointer-events: none;
  color: rgb(162 172 180);
  display: inline;
  font-size: 16px;
  font-family: "Optimistic Text Medium";
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.form-group input {
  width: calc(100% - 40px);
  /* Adjusted to accommodate icon width */
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Optimistic Text Medium";
  /* Added padding for the icon */
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  color: #333;
}

#igform input {
  font-weight: normal;
  background-color: #fff;
  color: #1c1e21;
  padding-block: 1px;
  padding-inline: 2px;
}

._add6 {
  background: rgb(var(--ig-secondary-background));
  border: 0;
  flex: 1 0 auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}

.xryxfnj {
  overflow-y: visible;
}
.xqui205 {
  margin-top: 24px;
}
.x1plvlek {
  overflow-x: visible;
}

.xqjyukv {
  align-content: stretch;
}
.xo71vjh {
  border-bottom-left-radius: 0;
}
.xjbqb8w {
  background-color: transparent;
}
.xdt5ytf {
  flex-direction: column;
}
.x9f619 {
  box-sizing: border-box;
}
.x78zum5 {
  display: flex;
}
.x5pf9jr {
  border-bottom-right-radius: 0;
}
.x2lah0s {
  flex-shrink: 0;
}
.x1qjc9v5 {
  align-items: stretch;
}
.x1oa3qoh {
  align-self: auto;
}
.x1nhvcw1 {
  justify-content: flex-start;
}
.x1n2onr6 {
  position: relative;
}
.x1c4vz4f {
  flex-grow: 0;
}
.x168nmei {
  border-top-left-radius: 0;
}
.x13lgxp2 {
  border-top-right-radius: 0;
}

#fbbody,
.fbook {
  background-color: rgb(240 246 255);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  padding: 20px;
}

#igbody,
.instacss {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  padding: 20px;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  /* Adjust icon width */
  height: 24px;
  /* Adjust icon height */
  background-image: url("/img/hide.png");
  /* Replace with your icon path */
  background-size: cover;
  background-repeat: no-repeat;

  mask-size: cover;
  object-position: 10000px 10000px;
  object-fit: cover;
  overflow: hidden;
}

.clear-input {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  /* Adjust icon width */
  height: 24px;
  /* Adjust icon height */
  background-image: url("/img/cancel.png");
  /* Path to your image file */
  background-size: cover;
  display: none;
  /* Initially hide the clear icon */
}
